@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 67 43% 96%;
    --foreground: 70 46% 5%;
    --card: 67 43% 96%;
    --card-foreground: 70 46% 5%;
    --popover: 67 43% 96%;
    --popover-foreground: 70 46% 5%;
    --primary: 71 88% 75%;
    --primary-foreground: 70 46% 5%;
    --secondary: 97 45% 73%;
    --secondary-foreground: 70 46% 5%;
    --muted: 67 43% 20%;
    --muted-foreground: 70 46% 70%;
    --accent: 102 45% 63%;
    --accent-foreground: 70 46% 5%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 70 46% 5%;
    --border: 67 43% 20%;
    --input: 67 43% 20%;
    --ring: 102 45% 40%;
    --radius: 1rem;
  }

  .dark {
    --background: 67 43% 4%;
    --foreground: 70 46% 95%;
    --card: 67 43% 4%;
    --card-foreground: 70 46% 95%;
    --popover: 67 43% 4%;
    --popover-foreground: 70 46% 95%;
    --primary: 71 88% 25%;
    --primary-foreground: 70 46% 95%;
    --secondary: 97 45% 27%;
    --secondary-foreground: 70 46% 95%;
    --muted: 67 43% 80%;
    --muted-foreground: 70 46% 95%;
    --accent: 102 45% 37%;
    --accent-foreground: 67 43% 4%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 70 45% 10%;
    --border: 67 43% 60%;
    --input: 67 43% 80%;
    --ring: 102 45% 60%;
  }
}
